stable-baselines3==2.2.1
tensorboard==2.19.0
torch==2.7.1
torchvision==0.22.1
PyQt6==6.9.1
gymnasium==0.29.1
numpy==2.3.0
matplotlib==3.10.3
opencv-python==4.11.0.86
transformers==4.52.4
tqdm==4.67.1
imitation==1.0.1
